html {
  font:100%/1.5 sans-serif;
  overflow-y:scroll;
  -webkit-text-size-adjust:none;
  text-size-adjust:none
}
@media screen {
  body {
    margin:auto;
    max-width:40em;
    padding:0 14px
  }
  .e-content,
  [itemprop=dataFeedElement],
  .narrow {
    margin:auto;
    max-width:34em
  }
  body>:not(main),
  main>:not(article),
  li article,
  article>:not(h2):not(h3) {
    contain:inline-size layout paint;
    padding:0 .5em
  }
  main>h1 {
    padding-left:.25em
  }
  article>hr,
  body>hr,
  main>hr {
    margin:0 .5em
  }
  li .p-name+p,
  header hr {
    margin-bottom:0
  }
  h1 {
    margin:0 0 .25em
  }
  dt,
  footer,
  h2,
  h3,
  li article,
  summary,
  [role=doc-backlink],
  [role=doc-endnotes] {
    content-visibility:auto;
    contain-intrinsic-size:auto 3em
  }
  dt,
  h3 {
    contain-intrinsic-size:1.5em
  }
  footer,
  li article {
    contain-intrinsic-size:auto 16em
  }
  li article[itemtype="https://schema.org/SocialMediaPosting"] {
    contain-intrinsic-size:auto 36em
  }
  .tall,
  [role=doc-endnotes] {
    contain-intrinsic-size:auto 50em
  }
  article,
  body,
  dt,
  dd,
  h1,
  h2,
  h3,
  html,
  main,
  pre,
  summary,
  dl>div,
  :not(nav)>ol,
  [role=doc-endnotes],
  [role=doc-preface] {
    contain:inline-size layout paint
  }
  figure,
  :not(li)>p {
    contain:inline-size layout
  }
  article>h2 {
    margin:.25em 0;
    padding:.25em 0
  }
  details,
  fieldset,
  form {
    contain:inline-size layout;
    margin:.5em 0
  }
  input,
  summary,
  aside>a,
  dt>a,
  :not(h1)+ul>li>a,
  ol>li>a,
  nav li>a,
  .u-comment dd>a,
  [itemprop=breadcrumb] a,
  [itemprop=breadcrumb]>span {
    padding:.75em .25em
  }
  dt {
    padding:1em .5em;
    margin:-.25em 0 -.25em -.5em
  }
  dd {
    margin:0;
    padding:.25em .25em .5em 1.75em;
    contain:inline-size layout paint
  }
  aside>a,
  dt>a {
    contain:content;
    margin:-.75em -.25em
  }
  h2+aside[role=none] {
    contain:strict;
    content-visibility:auto;
    height:1.75em;
    margin:-1em -.5em;
    padding:1em .5em
  }
  header>nav,
  a[href="#h1"],
  .u-comment dd>a,
  footer>nav,
  li>a,
  aside>a,
  nav ol a {
    display:inline-block;
    margin-left:-.25em
  }
  h1+ul>li>a {
    margin-left:0
  }
  h2>a {
    contain:content;
    display:inline-block;
    margin:0 .125em;
    padding:.25em
  }
  h3>a {
    contain:content;
    display:inline-block;
    padding:.5em .25em
  }
  article>h3 {
    padding:.25em;
    margin:0 0 0 -.5em
  }
  [role=doc-backlink],
  section article p {
    margin-left:-.5em
  }
  header>nav {
    padding:.75em 0 .25em
  }
  dt+dt {
    padding-top:.75em;
    margin-top:-.75em
  }
  dt+dt>a {
    padding-top:0
  }
  :not(nav)>:not(h1)+ul li>a,
  nav:not([itemprop=breadcrumb]) li,
  ol li>a {
    margin:.25em
  }
  [role=doc-backlink] {
    contain:content;
    display:inline-block;
    padding:.75em .5em;
    margin-top:-1em
  }
  a[href="#h1"] {
    contain:content;
    content-visibility:auto;
    padding:0 .25em;
    position:absolute;
    top:-2em
  }
  a[href="#h1"]:focus {
    top:0
  }
}
sup>a {
  margin-left:.25em;
  padding-bottom:.5em
}
sup {
  font-size:.85em;
  line-height:0
}
ol,
ul,
li h2+ul {
  padding-left:1.75em
}
blockquote,
ol ol,
ul ul {
  -webkit-hyphens:auto;
  hyphens:auto;
  margin:0;
  padding-left:1.25em
}
nav ul {
  margin:0;
  padding:0
}
[itemprop=breadcrumb] ol,
[itemprop=breadcrumb] li,
[itemprop=breadcrumb]>span,
nav ul li,
dt>a {
  display:inline-block
}
[itemprop=breadcrumb] ol {
  margin:-.25em;
  padding:0
}
[itemprop=breadcrumb] li:not(:last-of-type)::after {
  content:"→"
}
blockquote {
  border-left:3px solid
}
h1 {
  -webkit-hyphens:auto;
  hyphens:auto
}
@media(max-width:272px) {
  body {
    -webkit-hyphens:auto;
    hyphens:auto;
    padding:0 8px
  }
  li>a,
  [itemprop=breadcrumb] a,
  [itemprop=breadcrumb]>span {
    padding:.25em
  }
  dd {
    padding-left:1em
  }
  hr {
    margin:.25em 0
  }
  h2+aside[role=none] {
    contain:inline-size layout paint
  }
}
kbd {
  font-weight:700
}
ins,
[role=note],
[role=doc-tip] {
  contain:content;
  font-style:italic;
  text-decoration:none
}
figure,
section[itemprop=mentions] {
  margin:1.5em 0
}
figure[itemtype="https://schema.org/ImageObject"] {
  margin:1.5em
}
section[itemprop=mentions]>figure {
  margin:0
}
code,
kbd,
pre,
samp {
  font-family:monospace,monospace
}
[hidden],
[type=hidden] {
  display:none
}
.h-feed>ol {
  list-style-type:none;
  margin:0;
  padding:0
}
.u-comment,
:not(pre)>code,
:not(pre)>samp,
span[itemtype="https://schema.org/Person"] {
  overflow-wrap:break-word
}
pre {
  overflow:auto;
  padding:.5em
}
input,
img,
mark,
pre,
summary {
  border:1px solid
}
:not(pre)>code,
:not(pre)>samp {
  border:1px solid #999;
  padding:0 .25em
}
.e-content img {
  display:block;
  height:auto;
  margin:auto;
  max-width:100%
}
.h-card .u-photo {
  height:1em;
  width:1em;
  vertical-align:-.1em
}
.p-author a.u-uid {
  text-decoration:none
}
a .u-photo+.p-name {
  text-decoration:underline
}
audio {
  width:100%
}
.pix {
  image-rendering:pixelated
}
legend,
form>div {
  display:table;
  width:100%
}
input {
  appearance:none;
  font-family:sans-serif;
  font-size:inherit
}
input:not([type=submit]) {
  display:table-cell;
  width:98%
}
form>div>div {
  display:table-cell;
  vertical-align:top;
  width:1%
}
a:focus,
summary:focus,
[tabindex="0"]:focus,
form :focus {
  outline:3px solid
}
@supports selector(:focus-visible) {
  a:focus:not(:focus-visible),
  [tabindex="0"]:focus:not(:focus-visible) {
    outline:none
  }
}
@media(prefers-color-scheme:dark) {
  button,
  html,
  input {
    background-color:#191919;
    color:#e6e6e6
  }
  mark {
    color:#000;
    background-color:#eee8a7
  }
  a:link {
    color:#eee8a7
  }
  a:visited {
    color:#ffd3ff
  }
  @media not (prefers-contrast) {
    sup a:link:not(:active) {
      color:#feb
    }
    sup a:visited:not(:active) {
      color:#ffe6ff
    }
  }
  @media(prefers-contrast:less) {
    html,
    input {
      background-color:#444
    }
  }
  @media(prefers-contrast:more) {
    html,
    input {
      background-color:#0d0d0d;
      color:#f3f3f3
    }
    a:link {
      color:#fff970
    }
    a:visited {
      color:#ccfdff
    }
  }
  a:active {
    color:#f83
  }
}
@media print {
  summary {
    list-style:none
  }
  [href="#h1"],
  [role=doc-backlink],
  aside:not([role=note]),
  article summary,
  section[aria-labelledby=webmentions],
  footer,
  body>hr,
  main[itemprop]>article+hr,
  nav:not([itemprop=breadcrumb]) a:not([rel=home]) {
    display:none
  }
  [role=note] p,
  [role=doc-tip] p {
    margin:.25em 0
  }
}
figure,
blockquote,
section[itemprop=mentions],
li {
  break-inside:avoid
}
